<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <form [formGroup]="formProduct" (submit)="addProduct()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Ürün Adı</label>
                    <input type="text" formControlName="name" class="form-control" name="name"
                        placeholder="Bir ürün adı giriniz.">
                    <div *ngIf="formProduct.get('name').invalid && formProduct.get('name').touched">
                        <span *ngIf="formProduct.get('name').errors.required">Ad Boş Geçilemez...</span>
                        <span *ngIf="formProduct.get('name').errors.pattern">Sadece Harf...</span>
                        <span *ngIf="formProduct.get('name').errors.minlength">En az
                            {{formProduct.get('name').errors.minlength.requiredLength}} karakter...</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" formControlName="description" class="form-control" name="description"
                        placeholder="Bir açıklama giriniz.">
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    <select formControlName="catID" class="form-control" name="catID">
                        <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formProduct.invalid">Ekle</button>
            </form>
        </div>
    </div>
</div>
<br>
<hr>