<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of data">
                <div class="card mb-4 shadow-sm">
                    <img height="200" src="/assets/product/{{product.picture}}" alt="{{product.name}}">
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p class="card-text">{{product.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                 <a [routerLink]="['/product','detail',product.id]" class="btn btn-sm btn-outline-secondary">Detaylar
                                    </a> <button type="button" (click)="btnAddClick(product)" class="btn btn-sm btn-outline-secondary">Sepete
                                    Ekle</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>